In [17]:
p = [500, 1200, 4000, 5000]
abc = [240, 450, 4590, 5984]

In [6]:
for i in p:
    print(i*2)

1000
2400
8000
10000

In [7]:
total_expence = 0
for i in p:
   # print(i)
    total_expence = total_expence + i
print(total_expence)

10700

defination, execution, calling

def funtion_name(): 
    #logic
function_name()

In [18]:
def total_expense(name):
    total_expence = 0
    for i in name:
        total_expence += i
    print(total_expence)

In [20]:
total_expense(abc)

11264

In [21]:
def sum(a, b):
    print(a + b)

In [22]:
sum(40, 50)

90

In [23]:
def add(*a):
    return a

In [24]:
add(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

*a = *args - multiple argument
**kwargs - keyword argument - key-value

In [25]:
def test(**info):
    return info

In [26]:
test(name = "abc", skills = ["python", "c"])

{'name': 'abc', 'skills': ['python', 'c']}

function with paramerter
function with no paramerter
function with default parameter
function with return parameter

In [27]:
def test():
    print("this is function with no parameter")

In [28]:
test()

this is function with no parameter

In [31]:
def test1(a = 10 , b = 20):
    print("value of a : ", a)
    print("value of a : ", b)

In [32]:
test1()

value of a :  10
value of a :  20

In [33]:
x = lambda a, b : a + b

In [35]:
x(10, 20)

30

In [36]:
x = lambda a : a**2

In [37]:
x(12)

144

local variavble - local scope - within function
global variable - global

In [39]:
a = 10 
def add(s):
    print(s)
add(a)

10

In [40]:
def test():
    ab = 10
    print(ab)
test()

10

list comperhension

In [41]:
t = (1, 2, 3, 4, 5, 6)

In [42]:
[i for i in t]

[1, 2, 3, 4, 5, 6]

In [43]:
[i**2 for i in t]

[1, 4, 9, 16, 25, 36]