class and object
polymorphism
Abstraction
Inheritance
Encapsulation

def function_name():

class class_name:
    def funct_name():
        execution

c = class_name()  - object of class

In [8]:
class Myclass:
    def msg(a):
        print("this is method of class")

In [9]:
m = Myclass()

In [10]:
m.msg()

this is method of class

In [15]:
class info:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def display(self):
        print("name of person is : ", self.name)
        print("age of person is : ", self.age)

In [16]:
i = info("john", 24)

In [17]:
i.display()

name of person is :  john
age of person is :  24

# polymorphism

same function with different meaning

pop() - set, dict, list
len() - string, list
random
* - a*b
    - import *

In [18]:
class cat:
    def __init__(self, name):
        self.name = name
    def display(self):
        print("name of the cat is : ", self.name)

c = cat('billi')

class dog:
    def __init__(self, name):
        self.name = name
    def display(self):
        print("name of the dog is : ", self.name)
d = dog("tommy")
def abc(a):
    a.display()

In [19]:
abc(c)

name of the cat is :  billi

In [20]:
abc(d)

name of the dog is :  tommy

# Inheritance

single inheritance
multiple inheritance
multilevel inheritance
Hybrid inheritance
Hierachical inheritance

# single inheritance

In [21]:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def info(self):
        print("employee name is :", self.name)
        print("age of employee is :", self.age)

In [22]:
e = Employee("john", 34)

In [27]:
e.info()

employee name is : john
age of employee is : 34

In [35]:
class Trainer(Employee):
    def __init__(self, name, age, role):
        Employee.__init__(self, name, age)
        self.role = role
    def info(self):
        Employee.info(self)
        print("role of employee: ",self.role)
        
class Manager(Trainer):
    def __init__(self, name, age, role, salary):
        Trainer.__init__(self, name, age, role)
        self.salary = salary
    def info(self):
        Trainer.info(self)
        print("salary of", self.name, "is", self.salary)

m = Manager("abce", 24, "manager", 500000)
m.info()

employee name is : abce
age of employee is : 24
role of employee:  manager
salary of abce is 500000

In [33]:
t = Trainer("abc", 34, "Trainer")

In [34]:
t.info()

employee name is : abc
age of employee is : 34
role of employee:  Trainer

# multiple inheritance

In [36]:
class Father:
    def __init__(self, eyes, hair):
        self.eyes = eyes
        self.hair = hair
    def info(self):
        print("eyes of father is: ", self.eyes)
        print("hair of father is: ",self.hair)

In [37]:
class Mother:
    def __init__(self, height):
        self.height = height
    def info(self):
        print("height of mother is : ", self.height)

In [38]:
m = Mother("170")

In [39]:
m.info()

height of mother is :  170

In [40]:
class Son(Father, Mother):
    def __init__(self, name, eyes, hair, height, talent):
        Father.__init__(self, eyes, hair)
        Mother.__init__(self, height)
        self.name = name
        self.talent = talent
    def info(self):
        Father.info(self)
        Mother.info(self)
        print("Iq level is :", self.talent)

In [42]:
s = Son("abc", "brown", "curly", "tall", 200)

In [43]:
s.info()

eyes of father is:  brown
hair of father is:  curly
height of mother is :  tall
Iq level is : 200

# Hierarchical inheritance

In [44]:
class Pet:
    def __init__(self, name, pet_type):
        self.pet_type = pet_type
        self.name = name
    def details(self):
        print("i am a pet")

In [50]:
class Cat(Pet):
    def __init__(self, pet_type, name, age):
        Pet.__init__(self, pet_type, name)
        self.age = age
    def details(self):
        print("i am", self.pet_type)

In [51]:
class dog(Pet):
    def __init__(self, pet_type, name, bdate, breed):
        Pet.__init__(self, pet_type, name)
        self.bdate = bdate
        self.breed = breed
    def details(self):
        print("i am", self.name, "and", self.breed)

In [60]:
c = Cat('cat', 'kitty', 12)
c.details()

i am kitty

# Encapsulation

In [66]:
class Bank:
    def __init__(self, name, acc_no, balance):
        self.name = name
        self.acc_no = acc_no
        self.__balance = balance
    def info(self):
        print("account name :", self.name)
        print("account no :", self.acc_no)
        print("account balance :", self.__balance)
    def deposite (self, amt):
        self.__balance += amt
    def withdraw(self, amt):
        self.__balance -= amt
    def updated_balance(self):
        print("current balance", self.__balance)

In [67]:
b = Bank("john", 1212, 1000)

In [68]:
b.info()

account name : john
account no : 1212
account balance : 1000

In [69]:
b.deposite(50)

In [70]:
b.info()

account name : john
account no : 1212
account balance : 1050

# Abstraction

In [71]:
from abc import ABC

In [72]:
class Car(ABC):
    def price(self):
        pass

In [73]:
class Honda(Car):
    def price(self):
        print("price of bmw car if 10 lac")
        
class Tata(Car):
    def price(self):
        print("price of bmw car if 10 lac")
        
class Tesla(Car):
    def price(self):
        print("price of bmw car if 10 lac")

In [74]:
h = Honda()

In [75]:
h.price()

price of bmw car if 10 lac

# Generator

In [76]:
def test (n):
    for i in range(n):
        yield i**2

In [77]:
test(6)

In [78]:
for i in test(6):
    print(i)

0
1
4
9
16
25